#BackgroundFiller {
    -fx-background-image: url("images/PlainBackground.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#entryPane{
    -fx-background-image: url("images/EntryPane.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#connectedPane{
    -fx-background-image: url("images/EntryPane.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#registeredPane{
    -fx-background-image: url("images/EntryPane.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#SearchingMatchIndicator {
    -fx-progress-color: #2f5d9e;
}

#WaitForOtherPlayersIndicator {
    -fx-progress-color: #432a1a;
}

#WaitIndicator {
    -fx-progress-color: #432a1a;
}

#enteringMatchPane {
    -fx-background-image: url("images/EnteringMatch.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#enteredMatchPane {
    -fx-background-image: url("images/EnteringMatch.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

@font-face {
    src: url('fonts/LillyBelle.ttf');
}

@font-face {
    src: url('fonts/CrimsonText-Roman.ttf');
}

.LillyBelleText {
    -fx-font-family: 'LillyBelle';
}

.ParagraphText {
    -fx-font-family: 'CrimsonText-Roman';
}

#boardPane{
    -fx-background-image: url("images/SantoriniBoard.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#chooseGodsPane {
    -fx-background-image: url("images/ChooseGodsPane.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#chooseYourGodPaneCase2{
    -fx-background-image: url("images/ChooseYourGod_Case2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#chooseYourGodPaneCase3{
    -fx-background-image: url("images/ChooseYourGod_Case3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#WaitingPane {
    -fx-background-image: url("images/WaitingPane.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#ChooseFirstPlayerPaneCase2 {
    -fx-background-image: url("images/ChooseWhoWillPlayFirst_Case2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#ChooseFirstPlayerPaneCase3 {
    -fx-background-image: url("images/ChooseWhoWillPlayFirst_Case3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#YouHaveLostPane {
    -fx-background-image: url("images/YouHaveLost.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#YouHaveWonPane {
    -fx-background-image: url("images/YouHaveWon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#DisabledPane {
    -fx-background-image: url("images/Disabled.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}