#entryPane{
    -fx-background-image: url("images/EntryPane.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#connectedPane{
    -fx-background-image: url("images/EntryPane.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#registeredPane{
    -fx-background-image: url("images/EntryPane.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#SearchingMatchIndicator {
    -fx-progress-color: #2f5d9e;
}

#WaitForOtherPlayersIndicator {
    -fx-progress-color: #432a1a;
}

#enteringMatchPane {
    -fx-background-image: url("images/EnteringMatch.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#enteredMatchPane {
    -fx-background-image: url("images/EnteringMatch.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

@font-face {
    src: url('fonts/LillyBelle.ttf');
}

@font-face {
    src: url('fonts/CrimsonText-Roman.ttf');
}

.LillyBelleText {
    -fx-font-family: 'LillyBelle';
}

.ParagraphText {
    -fx-font-family: 'CrimsonText-Roman';
}

#boardPane{
    -fx-background-image: url("images/SantoriniBoard.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

#chooseGodsPane {
    -fx-background-image: url("images/ChooseGodsPane.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}
